*{
  box-sizing:border-box;
  font-family:Poppins,Arial,sans-serif;
}

body{
  margin:0;
  background:linear-gradient(135deg,#ffd6e8,#ffeef6);
  color:#7a003b;
  overflow-x:hidden;
}

/* HEARTS */
.hearts span{
  position:fixed;
  top:-20px;
  animation:fall linear infinite;
}
@keyframes fall{
  to{
    transform:translateY(110vh);
    opacity:0;
  }
}

/* PASSWORD */
.password-screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.password-screen input{
  padding:12px;
  border-radius:20px;
  border:none;
  width:200px;
}
.password-screen button{
  margin-top:10px;
  padding
