*{
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  margin:0;
  background:linear-gradient(135deg,#ffd6e8,#ffeef6);
  color:#7a003b;
  overflow-x:hidden;
}

/* HEARTS */
.hearts span{
  position:fixed;
  top:-20px;
  font-size:18px;
  animation:fall linear infinite;
  pointer-events:none;
}
@keyframes fall{
  to{
    transform:translateY(110vh);
    opacity:0;
  }
}

/* PASSWORD */
.password-screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.password-screen input{
  padding:12px;
  border-radius:20px;
  border:none;
  width:200px;
  margin:10px 0;
}
.password-screen button{
  padding:10px 30px;
  border:none;
  border-radius:25px;
  background:#ff5fa2;
  color:white;
  cursor:pointer;
}

/* MAIN */
.hidden{display:none}

/* HERO */
.hero{
  padding:70px 20px 40px;
  text-align:center;
}

/* SLIDESHOW */
.slideshow{
  display:flex;
  justify-content:center;
  padding:20px;
}
.slideshow img{
  width:85%;
  border-radius:25px;
}

/* STORY */
.story{
  padding:30px;
  text-align:center;
}

/* COUNTDOWN */
.countdown{
  text-align:center;
  padding:20px;
  font-weight:bold;
}

/* ENDING */
.ending{
  padding:50px 25px;
  text-align:center;
}
.ending button{
  margin-top:20px;
  padding:12px 35px;
  border:none;
  border-radius:30px;
  background:#ff5fa2;
  color:white;
  font-size:16px;
}

/* MINI PLAYER */
.mini-player{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#ff5fa2;
  color:white;
  padding:10px 18px;
  border-radius:30px;
  display:flex;
  gap:10px;
  align-items:center;
  cursor:pointer;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  color:#999;
  font-size:13px;
}
